body {
    background-color: #f9f9f9;
    padding: 0px 20px 0px;
}

h2 {
    font-size: 20px;
    margin: 20px 0 10px;
}

.homeworks {
    float: left;
    width: 600px;
    height: 100%;
    min-height: 100vh;
    line-height: 24px;
}

nav a {
    color: blue;
    text-decoration: underline;
}

nav a:visited {
    color: darkblue;
    text-decoration: underline;
}

nav a:hover {
    color: red;
    text-decoration: none;
}

.additional {
    float: left;
    height: 310px;
}

.add-work {
    float: left;
    width: 160px;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: white;
    text-align: center;
    -webkit-box-shadow: 0 0 6px gray;
    box-shadow: 0 0 6px gray;
    position: relative;
}

.add-work p {
    margin: 0;
    padding: 0;
}

.add-work a {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.add-work:hover p {
    background-color: #26ddff;
    border-radius: 0px 0px 6px 6px;
    transition: .6s;
}

.add-work i {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 135px;
    height: 100px;
    transition-duration: 0.5s;
}

.add-work:hover i {
    display: inline-block;
    width: 135px;
    height: 172px;
    transition-duration: 0.5s;
}

.mastermind i {
    background-image: url(../Mastermind/img/cow.jpg);
}
.balls i {
    background-image: url(../Balls/img/field.jpg);
}

.tests-upwork {
    float: left;
}

.tests-upwork {
    float: left;
    vertical-align: top;
    margin-left: -5px;
}

.tests-upwork img {
    vertical-align: top;
}
