@import 'reset';
@import 'grid-imagefill';
@import 'main-imagefill';
@import 'mq';

@mixin center($width) {
	position: absolute;
	display: table;
	text-align: center;
	width: $width;
	top: 0;	left: 0; right: 0; bottom: 0;
	margin: auto;
}

@mixin coverParent {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

$column-width: 320px;
$column-flow: 300px;

a,
a:hover,
a:visited,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

html {
	overflow-x: hidden;
}

body {
	text-align: center;
}

.round-button {
	color: #ff4e50;
	font: 700 14px Montserrat;
	width: 276px;
	height: 36px;		
	line-height: 36px;
	text-align: center;
	border-radius: 20px;
	border: 2px solid #ff4e50;
	margin: -1px 0 0 18px;
	a {
		display: inline-block;
		width: 100%;
//			height: 100%;
	}
}
.round-button:hover {
	background-color: #ff4e50;
	color: #fff;
	cursor: pointer;
}

.wrapper {
	padding: 0;
	width: 100%;
}

.header {
	position: relative;
	margin: 0 auto;
	text-align: center;
	color: #ffffff;
	font: 700 20px Montserrat;
	
	@include mq($until: tablet) {
		width: 320px;
		height: 520px;
		padding: 10px 0;
		background: url(../img/header.png);
	}
	@include mq(tablet, desktop) {
		box-sizing: border-box;
		width: 768px;
		height: 700px;
		padding: 30px 0;
		background: url(../img/tablet/header.png);
	}
	
	&__name {
		margin-top: 115px;
		letter-spacing: 1px;
		margin-left: -1px;
		@include mq(tablet, desktop) {
			text-align: left;
			margin-left: 48px;
			margin-top: 16px;
		}
	}
	&__slogan {
		margin-top: 27px;
		font-size: 30.01px;
		text-transform: uppercase;
		@include mq(tablet, desktop) {
			margin-top: 144px;
			margin-left: -5px;
			font: 700 52px Montserrat;
		}
		
	}
	&__slogan2 {
		@include mq($until: tablet) {
			margin: 8px 50px;
			width: 220px;
			font: 300 18.01px Roboto;
		}
		@include mq(tablet, desktop) {
			margin: 24px 2px 33px 0px;
			font: 300 24px Roboto;
		}
	}
	&__find-btn {
		font-size: 14px;
		background-color: #ff4e50;
		border-radius: 20px;
		height: 40px;
		line-height: 40px;
		margin: 14px auto;
		@include mq($until: tablet) {
			width: 280px;
		}
		@include mq(tablet, desktop) {
			position: relative;
			width: 225px;
			left: -2px;
		}
		
		a {
			display: inline-block;
			width: 100%;
			height: 100%;
		}
	}

}

.login-panel {
	padding: 0px 20px 0 0px;
	width: 180px;
	height: 36px;
	text-align: center;
	color: #ffffff;
	font: 700 14px Montserrat;
	line-height: 36px;
	@include mq($until: tablet) {
		margin: 10px auto;
	}
	@include mq(tablet, desktop) {
		position: absolute;
		right: 25px;
		margin-top: 8px;
	}

	&__btn {
		float: left;
		box-sizing: border-box;
	}
	&__btn:hover {
		border: 2px solid #fff;
		border-radius: 20px;
		line-height: 32px;
	}
	&__btn--login {
		width: 80px;
		margin-left: 4px;
	}
	&__btn--signup {
		width: 90px;
		margin-left: 1px;
		@include mq(tablet, desktop) {
			margin-left: 1px;
		}
	}
}

.hiw {
	text-align: center;
	width: 320px;
	margin: 34px auto;
	@include mq(tablet, desktop) {
		position: relative;
		margin: 94px auto 97px;
		left: 3px;
		width: 100%;
	}
	&__header {
		color: #333;
		font: 700 22px Montserrat;
		margin-bottom: 14px;
		@include mq(tablet, desktop) {
			margin-bottom: 23px;
		}

	}
	&__block {
		position: relative;
		margin-top: 10px;
		@include mq(tablet, desktop) {
			float: left;
			margin: 10px 13px 0 7px;
			width: 236px;
			height: 400px;
		}
	}
	&__image {
		width: 320px;
		height: 240px;
		margin: 0 auto;
		@include mq(tablet, desktop) {
			width: 236px;
			height: 400px;
			margin: -1px auto;
		}
	}
}

.slider {
	position:relative;
	margin: 0 auto;
	width: 300px;
	height: 240px;
	border-radius: 5px;
	overflow: hidden;
	@include mq(tablet, desktop) {
		margin: 1px auto;
		width: 236px;
		height: 400px;
	}

	&__scr {
		margin: 0px auto;
		width: 300px;
		height: 240px;
		background-size: cover;
		display: none;
		@include mq(tablet, desktop) {
			margin: 0px auto;
			width: 236px;
			height: 400px;
		}
		&--1 { 
			background: url(../img/step-merged-1.png);
			@include mq(tablet, desktop) {
				background: url(../img/tablet/step-merged-1.png);
			}
		}
		&--2 { 
			background: url(../img/step-merged-2.png);
			@include mq(tablet, desktop) {
				background: url(../img/tablet/step-merged-2.png);
			}
		}
		&--3 { 
			background: url(../img/step-merged-3.png);
			@include mq(tablet, desktop) {
				background: url(../img/tablet/step-merged-3.png);
			}
		}
	}
	&__button {
		position: absolute;
		top: 40px;
		width: 30px;
		height: 56px;
		cursor: pointer;
		&--left {
			left: 20px;
			background-image: url(../img/left-arrow.png);
		}
		&--right {
			right: 20px;
			background-image: url(../img/right-arrow.png);
		}
		@include mq($until: tablet) {
			display: none;
		}
	}

	&__text-block {
		position: absolute;
		bottom: 0px;
		padding: 15px 19px;
		text-align: left;
		//zoom: 1;
		//writing-mode: tb-rl;		
		@include mq(tablet, desktop) {
			padding: 15px 17px;
		}
	}
	&__step {
		color: #fff;
		font: 400 10px Montserrat;
		letter-spacing: 2px;
		background-color: #ff4e50;
		height: 20px;
		width: 68px;
		line-height: 21px;
		margin-bottom: 15px;
		text-align: center;
		border-radius: 10px;
		padding-left: 3px;
		@include mq(tablet, desktop) {
			padding-left: 0px;
			margin-left: 5px;
		}
	}
	&__caption {
		color: #fff;
		font: 700 24px Montserrat;
		margin-bottom: 12px;
	}
	&__text {
		color: #ccc;
		font: 300 14px Roboto;
		bottom: 0px;
	}
}

.partners {
	text-align: center;
	width: 320px;
	margin: 34px auto 35px;
	@include mq(tablet, desktop) {
		width: 510px;
		margin-bottom: 49px;
	}
	&__header {
		color: #333;
		font: 700 22px Montserrat;
		padding: 0 10px 13px 6px;
		@include mq(tablet, desktop) {
			padding: 0 10px 31px 6px;
		}
	}
	&__block {
		position: relative;
		text-align: center;
		@include mq(tablet, desktop) {
			float: left;
			width: 255px;
		}
		a {
			@include coverParent;
		}
	}
	&__block.pb4 {
		margin-left: -5px;	
		@include mq(tablet, desktop) {
			margin: 0px 0px;
		}
	}
	&__block.pb3 { 
		margin-left: -5px;	
		@include mq(tablet, desktop) {
			margin: 0px 0px;
		}
	}
	&__photo {
		position: relative;
		width: 121px;
		height: 121px;
		margin: 0 auto;
	}
	&__photo--p1 {background: url(../img/partner-1.png);}
	&__photo--p2 {background: url(../img/partner-2.png);}
	&__photo--p3 {background: url(../img/partner-3.png);}
	&__photo--p4 {background: url(../img/partner-4.png);}
	&__label {
		width: 24px;
		height: 24px;
		background: url(../img/sprites.png);
		margin: 4px auto;
	}
	&__label-back {
		width: 32px;
		height: 32px;
		position: absolute;
		bottom: -3px;
		right: -3px;
		border-radius: 50%;
		border: 3px solid #fff;
	}
	&__label-back--1 { background-color: #ff4e50; }
	&__label-back--2 { background-color: #ffa507; }
	&__label-back--3 { background-color: #1cd7ad; }
	&__label-back--4 { background-color: #4e73db; }
	&__label--l1 { background-position: 0px 0px; }
	&__label--l2 { background-position: -24px 0px; }
	&__label--l3 { background-position: -48px 0px; }
	&__label--l4 { background-position: -72px 0px; }
	&__name {
		color: #333;
		font: 700 14px Montserrat;
		margin: 17px 0 13px 0;	
	}
	&__brief {
		color: #666;
		font: 300 14px Roboto;
		margin-bottom: 26px;
		padding: 0 52px;
		@include mq(tablet, desktop) {
			margin-bottom: 22px;
			padding: 0 18px;
		}
	}
	&__see-other {
		margin: -1px 18px;
		width: 276px;			
		@include mq(tablet, desktop) {
			margin: 47px 157px;
			width: 188px;
		}
	}
}

.discover-ideas {
	position: relative;
	width: 320px;
	margin: 0 auto;
	@include mq($until: tablet) {
		padding: 0 10px;
	}
	@include mq(tablet, desktop) {
		width: 100%;
	}
	
	&__header {
		color: #333;
		font: 700 22px Montserrat;
		margin: 0 22px;
		text-align: center;
		@include mq($until: tablet) {
			position: relative;
			left: -10px;
			margin-bottom: 13px;
		}
		@include mq(tablet, desktop) {
			margin-bottom: 23px;
		}
	}
	&__question {
		color: #333;
		font: 300 18px Roboto;
		margin: 0;
	}
}

//.grid {
//	&__sizer {
//		width: 1%;
//	}
//	&__item {
//		width: 33%;
//		height: 120px;
//		border-radius: 5px;
//		background-color: blue;
//		border: 1px solid darkblue;
//		margin: 10px;
//		float: left;
//		&--2 {
//			width: 20%;
//			height: 150px;
//		}
//		
//		
//	}
//}

$w-1: 30.7%;
$w-2: 64.2%;
.grid {
	@include mq(tablet, desktop) {
		margin-bottom: 85px;
	}
	&__sizer {
		width: 33.2%;
	}
	&__item {
		float: left;
		position: relative;
		overflow: hidden;
//		margin: 10px auto;
		margin-bottom: 10px;
		width: 300px;
		height: 120px;
		border-radius: 5px;
		@include mq(tablet, desktop) {
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 10px;
			height: 310px;
			&--1 { width: $w-1; }
			&--2 { width: $w-1; margin-left: 11px; }
			&--3 { width: $w-1; margin-left: 11px; }
			&--4 { width: $w-1; }
			&--5 { width: $w-2; margin-left: 11px; }
			&--6 { width: $w-2; }
			&--7 { width: $w-1; margin-left: 11px; }
		}
		a {
			@include coverParent;
		}
	}
	&__text-panel {
		@include coverParent;
		display: table;
	}
	&__caption {
		color: #fff;
		display: table-cell;
		vertical-align: middle;
		padding: 10px;
		font: 700 22px Montserrat;
	}
}

.request-area {
	width: 320px;
	margin: -9px auto 40px;	
	@include mq(tablet, desktop) {
		width: 100%;
		margin: 0 auto 100px;	
	}
	
	&__header {
		color: #333;
		font: 700 22px Montserrat;
		margin: 34px 22px 10px;
		text-align: center;
		@include mq(tablet, desktop) {
			margin: 34px 22px 31px;
		}
	}
	&__question {
		text-align: center;
		color: #333;
		font: 300 18px Roboto;
		position: relative;
		left: -2px;
		@include mq(tablet, desktop) {
			margin-bottom: 37px;
		}
	}
	input {
		position: relative;
		box-sizing: border-box;
		border-radius: 4px;
		border: 1px solid #999;
		height: 40px;
		line-height: 40px;
		left: -2px;
		width: 280px;
		margin: 15px auto 11px;
		padding-left: 15px;
		color: #999;
		font: 300 14px Roboto;
		@include mq(tablet, desktop) {
			display: inline-block;
			margin: 0;
			position: relative;
			left: 6px;
			width: 240px;
		}
	}
	&__btn {
		@include mq(tablet, desktop) {
			display: inline-block;
			width: 157px;
			position: relative;
			left: -7px;
			top: 1px;
		}
	}

}

.footer {
	width: 320px;
	margin: 0 auto 18px;	
	
	border-top: 4px solid #ff4e50;
	text-align: center;
	@include mq(tablet, desktop) {
		position: relative;
		width: 100%;
		height: 178px;
	}
	&__name {
		color: #ff4e50;
		font: 700 16px Montserrat;
		margin: 15px 0 12px;
		letter-spacing: 0.8px;
		@include mq(tablet, desktop) {
			position: absolute;
			left: 39px;
			top: 36px;
			margin: 0;
		}
	}
	&__h2  {
		color: #333;
		font: 700 14px Montserrat;
		@include mq(tablet, desktop) {
			position: absolute;
			top: 36px;
			margin: 0;
			&--1 {
				left: 266px;
			}
			&--2 {
				left: 437px;
			}
		}
	}
	&__menu {
		margin-bottom: 8px;
		position: relative;
		left: -2px;
		@include mq(tablet, desktop) {
			position: absolute;
			top: 65px;
			left: 262px;
			margin: 0;
		}
		ul {
			margin: 0;
			padding: 0;
		}
		&-item {
			display: inline-block;
			color: #666;
			font: 300 14px / 24px Roboto;
			margin: 0 4.5px;
			@include mq(tablet, desktop) {
				text-align: left;
				margin: 0 3px;
				display: block;
				font-weight: 300;
			}
			a {
				font-weight: 300;
			}
		}
	}
	&__designed {
		color: #ccc;
		font: 700 10px Montserrat;
		text-transform: uppercase;
		margin: 13px 0px 7px;
		letter-spacing: 1px;
		@include mq(tablet, desktop) {
			position: absolute;
			right: 39px;
			top: 36px;
			margin: 0;
		}
	}
	&__designed+a {
		@include mq(tablet, desktop) {
			position: absolute;
			right: 39px;
			top: 57px;
			margin: 0;
		}
	}
}