<!DOCTYPE html>
<html lang="ru-UA">
<head>
    <meta charset="UTF-8">
    <title>ДЗ JS 15-16</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/tmpl.js"></script>
    <script src="js/script.js"></script>
</head>
<body>
    <script type="text/template" id="search-response">
        <div>Результатов: примерно <%=cursor.resultCount%> (<%=cursor.searchResultTime%> сек.)</div>
        <ul>
            <% for(var i = 0; i < results.length; i++) { %>
            <li class="result-item">
                <a href="<%= results[i].url %>" class="link"><%= results[i].titleNoFormatting %></a>
                <div class="url"><%= results[i].url %></div>
                <div class="brief"><%= results[i].content %></div>
            </li>
            <% }; %>
        </ul>
        <div class="result-pages">
            <% for(var i = 0; i < cursor.pages.length; i++) { %>
            <a href="<%= cursor.pages[i].start %>" class="page-link"><%= cursor.pages[i].label %></a>
            <% }; %>
        </div>
    </script>
    <div class="wrapper">
        <div class="search-form">
            <form action="www.infotrack.com.ua" target="_blank" method="get">
                <input class="search-edit" type="text" name="request">
                <input class="search-submit" type="submit">
            </form>
        </div>
        <div id="results"></div>
    </div>
</body>
</html>
