article {
    font-family: sans-serif;
    width: 500px;
    text-align: justify;
}

.author {
    font-weight: 600;
}

.fa-heart {
    color: red;
}

.fa-comment {
    color: gray;
}

.state span {
    margin-right: 20px;
}