body {
    height: 100vh;
    background-color: lightgray;
}

.box {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: white;
    border: 1px solid black;
    margin: auto;
    background-image: url(../img/grass1.jpg);
}

.ball {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 48px;
    height: 48px;
    background-image: url(../img/ball.png);
}
